.DS_Store
__pycache__
.venv
logs
*.log
runtime
data/*
!data/.gitkeep
downloads/*
!downloads/.gitkeep
# Ignore all files in the http_data directory except those that match the pattern *.live.*
http_data/**/*.live.*
# Ignore all local markdown files ending with .local.md
*.local.md
# zai company only
zai/