.DS_Store
__pycache__
.venv
logs
*.log
runtime
data/*
!data/.gitkeep
downloads/*
!downloads/.gitkeep
# Ignore all files in the http_data directory except those that match the pattern *.live.*
http_data/**/*.live.*